.main {
  min-height: calc(100vh - 175px);
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

.main_create {
  min-height: calc(1000px);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 40px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.code {
  background: #ececec;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  margin-left: 0.5rem;
}

.black_button {
  background-color: 'black';
  color: 'white';
  padding-block: '10px';
  border-radius: 5;
  font-weight: 500;
  width: '156px'
}

.input_title {
  margin-top:1rem;
  margin-left: 1rem;
  font-weight: 500;
  color: rgb(81,81,81);
}

.input, .input_disabled {
  background: #ececec;
  border-radius: 5px;
  font-size: 1rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: 100%;
  margin-top:5px;
}
.input_disabled {
  color: rgb(151, 151, 151);
  cursor: not-allowed;
}
.input:hover {
  border-color: black;
}
.input:focus, .symbol_input:focus, .price:focus {
  background: white;
}
.input::placeholder {
  color: rgb(151, 151, 151);
}

.input_error {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: red;
  font-size: 0.85rem;
  margin-left: 1rem;
  margin-top: 3px;
}

.dropdown select {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width:100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  z-index: 10;
}
.dropdown {
  position: relative;
  background: #ececec;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-top:5px;
  z-index: 0;
}

.dropdown::after {
  content: "⌄";
  font-size: 1rem;
  right: 10px;
  position: absolute;
  z-index: 0;
  top:3px;
}
.dropdown:hover {
  border-color: black;
}
.dropdown_option {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .main_create {
    flex-direction: row;
  }
}

.invalid {
  border: 1px solid #ff0000
}

.input_container {
  background: #ececec;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  margin-top:5px;
}

.price {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  z-index: 10;
  width: 100%;
}

.symbol_prefix {
  float:right;
  position: absolute;
  padding-block: 0.5rem;
  margin-left: 15px;
}

.symbol_input {
  background: #ececec;
  border-radius: 5px;
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: 25px;
  padding-block: 8px;
  width: 100%;
}

.unit {
  padding-block: 8px;
  float:right;
  text-align: right;
  width: 55px;
  position: absolute;
  margin-left:-70px;
}

.placeholder_image {
  border-radius: 12px;
  margin-inline: auto;
  vertical-align: top;
  place-items: center;
  justify-content: center;
  position: relative;
  height:100%;
}

.tx_modal {
  margin-block: auto;
  height: 210px;
  width: 500px;
  background-color: white;
  border-color: #eaeaea;
  border-radius: 5px;
  border-width: 2px;;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  padding: 20px;
}
